/* 
declaration block:

selector{
    property: value;
    property2: value;
}
*/

body{
    background-color: rgb(85, 6, 85);
    color: rgb(181, 181, 181);
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    width: 300px;
    float: center;
}

h1{
    text-align: center;
}